h2 {

  font-family: Verdana, Calibri;
  color: blue;	
}

body {
  font-family: Verdana, Calibri;
  font-size: 1.25em;
}

.sm {
 font-family: sans-serif, verdana, calibri;
  font-size: .9em;
  font-style: italic;
}
